{% extends 'base.html'%}
<!-- load crispy -->
{% load crispy_forms_tags %}

<!-- page content -->
{% block content %}

<h1 class="text-center fw-bolder">Log here</h1>
<form method="post" , style="width: 50%; margin: auto;" novalidate>
    {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
    <p class="p-2 bg-danger rounded-3 text-white">{{ er }}</p>
    {% endfor %}
    {% endif %}

    <!-- {{form | crispy}} -->
    {% csrf_token %}

    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    {{ fm.errors|striptags }}
    {% endfor %}
    <br>
    <button class="btn btn-secondary mt-3">Submit</button> <br>
</form>

{% endblock %}