{% extends 'base.html' %}
<!-- page content -->
{% block content %}
<!-- message section -->
{% if messages %}
{% for m in messages %}
<small class=" btn btn-success m-2">{{m}}</small>
{% endfor %}
{% endif %}

<h1 class="text-center fw-bolder">Welcome to profile page</h1>
<h3 class="text-center fw-bolder">hello {{data}}</h3>


<a href="{% url 'pass_change' %}" class="btn btn-danger">change your password</a>
<a href="{% url 'pass_change2' %}" class="btn btn-danger">change your password without old password</a>

{% endblock %}